<!DOCTYPE html>
<html lang='en'>
<head>
    <meta name="viewport" content="initial-scale=1,width=device-width"> <!--适应窗口大小-->
    <title>Hello</title>
    <script>
        function greet() {
            alert('hello,' + document.querySelector('#name').value);
        }
    </script>
</head>
<body>
    <form onsubmit="greet(); return false;"> <!-- onsubmit,允许我们使用javescript来处理表单提交事件,事件处理函数greet()将在提交表单时执行 -->
        <input autocomplete="off" autofocus id="name" type="text">
        <input type="submit" value="Submit">
    </form>
    <p>使用了javescript的表单提交事件处理函数greet()来向用户显示问候语。</p>
</body>
</html>
{% extends 'layout.html' %}
{% block body %}
    <form action="/greet"method="post">
        <input autocomplete="off" autofocus name="name" placeholder="Name" type="text">
        <button type="submit">Greet</button>
    </form>
{% endblock %}